.welcome-header {
    margin: 90px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome-header_title {
    margin-bottom: 20px;
    font-size: 45px;
}
.welcome-header_text {
    width: 50%;
    font-size:25px;
}
#login-from {
    display: flex;
    flex-direction: column;
    margin: 0px 25px;
}
#login-from input {
    padding: 15px 0px;
    border: none;
    font-size:18px;
    margin-bottom: 25px;
}
#login-from input:not([type="submit"]) {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: border-color 0.3s ease-in-out;
}
#login-from input::placeholder {
    color:rgba(0,0,0,0.4)
}
#login-from input:focus{
    border-color: var(--yellow)
}
#login-from input[type="submit"] {
    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
}
#login-from a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}